@import '~antd/dist/antd.css';

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TicketDisplayTable {
  margin: 1rem 2rem;
}

.TicketsInfoText {
  font-size: 1.2rem;
  text-align: start;
  margin: 2rem 2rem 0.5rem;
}

.Divider {
  background-color: #282c34;
}
